body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

.navigation-list-item {
color:#2E2F42;
font-family: Roboto;
 font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
list-style-type: none;
}

.adress-list-item {
font-style: normal;
list-style-type: none;
}

.navigation-web-word {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}

.navigation-word-studio {
color: #2E2F42;

}

button {
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;
}

button a:hover {
border-radius: 4px;
background: #404BBF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.effective-solution {
background: #2E2F42;

}

.h1-color {
color:  #FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
line-height: 1.07; 
letter-spacing: 1.12px;
}

h3 {
color:#2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

h2 {
color:#2E2F42;
font-family: Roboto;
font-size: 36px;
font-style: normal;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}

p {
color:#434455;
font-family: Roboto;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.32px;
}

.our-team-section {
    background-color: #F4F4FD;
}

.our-portfolio {
    background-color: #FFF;
}
.our-portfolio-paragraph {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

.portfolio-list-name {
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

header {
    background-color: #FFF;
}
.our-portfolio-title {
color:  #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}

.footer-custom {
background: #2E2F42;
}

.word-studio-footer {
color:#F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
line-height: 1.16; 
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-text-color {
color:#F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
line-height: 1.5; 
letter-spacing: 0.32px;
}

a {
    color: #2E2F42;
   text-decoration: none;
   }

a:hover,
a:active {
color:#404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.32px;
}

ul {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }