a {
    text-decoration: none;
}

body {
font-family: 'Raleway', 'Roboto', sans-serif;
color: #2E2F42;
background-color: #fff;
}

.navigation-color {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

li a {
    color: #2E2F42;
    font-size: 16px;
}
li a:hover {
    color:#404BBF;
}
li a:active {
    color: #404BBF;
}

.web-word {
color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16; 
letter-spacing: 0.54px;
text-transform: uppercase;
}

.word-studio {
color:#2E2F42;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.54px;
text-transform: uppercase;
}

button {
border-radius: 4px;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;
}

button a:hover {
border-radius: 4px;
background: #404BBF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-text-color {
color:#FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}

.effective-solution {
background: #2E2F42;

}

.h1-color {
color:  #FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
line-height: 1.07; 
letter-spacing: 1.12px;
}

h3 {
color:#2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}

h2 {
color:#2E2F42;
font-family: Roboto;
font-size: 36px;
font-style: normal;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}

p {
color:#434455;
font-family: Roboto;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.32px;
}

.our-team-section {
    background-color: #F4F4FD;
}

.our-portfolio {
    background-color: #FFF;
}

header {
    background-color: #FFF;
}

.footer-custom {
background: #2E2F42;
}

.word-studio-footer {
color:#F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
line-height: 1.16; 
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-text-color {
color:#F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
line-height: 1.5; 
letter-spacing: 0.32px;
}