a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navigation-color {
    color: var#2E2F42;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

li a {
    color: #2E2F42;
}
li a:hover {
    color:#404BBF;
}
li a:active {
    color: #404BBF;
}